[submodule "openms-molecular-networking/tools/scripts"]
	path = openms-molecular-networking/tools/scripts
	url = https://github.com/Bioinformatic-squad-DorresteinLab/openms-gnps-tools.git
[submodule "merge_networks_polarity/tools/MergePolarity"]
	path = merge_networks_polarity/tools/MergePolarity
	url = https://github.com/mwang87/MergePolarity.git

