[submodule "CCMSDeployments"]
	path = CCMSDeployments
	url = https://github.com/CCMS-UCSD/CCMSDeployments.git
[submodule "CCMS_ProteoSAFe_pythonAPI"]
	path = CCMS_ProteoSAFe_pythonAPI
	url = https://github.com/mwang87/CCMS_ProteoSAFe_pythonAPI.git
[submodule "merge_networks_polarity/tools/MergePolarity"]
	path = merge_networks_polarity/tools/MergePolarity
	url = https://github.com/mwang87/MergePolarity
[submodule "FalconClusterWorkflow"]
	path = FalconClusterWorkflow
	url = https://github.com/mwang87/FalconClusterWorkflow.git
[submodule "ProteoSAFe_Nextflow_Template"]
	path = ProteoSAFe_Nextflow_Template
	url = https://github.com/mwang87/ProteoSAFe_Nextflow_Template.git
[submodule "GNPS_sharedcode"]
	path = GNPS_sharedcode
	url = https://github.com/mwang87/GNPS_sharedcode.git
[submodule "add-batch-annotated-validator/tools/add-batch-annotated-validator/GNPS_sharedcode"]
	path = add-batch-annotated-validator/tools/add-batch-annotated-validator/GNPS_sharedcode
	url = https://github.com/mwang87/GNPS_sharedcode.git
