name: web-gnps-selenium

on: 
  push:
  schedule:
   - cron:  '*/60 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with nose2
      run: |
        pip install nose2
        pip install selenium
        cd test_gnps_webserver/selenium/result_views && export SERVER_URL="https://proteomics2.ucsd.edu" && nose2 -v
        cd test_gnps_webserver/selenium/input_forms && export SERVER_URL="https://proteomics2.ucsd.edu" && nose2 -v
